<!DOCTYPE html>
<html>
<head>
  <title>Dinnr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="container-fluid">
<header class="row">
  
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

  </div>
</nav>
</header>

<main class="row"><%= yield %></main>

<footer class="row"></footer>

</body>
</html>
