<div class="row">
<% if @users.any? %>
  <% @users.each do |user| %>

<div class="panel col s12 m6 l4">
  <div class="card blue-grey lighten-5">


  <div class="card-content ">
    <span class="card-title">
    </span>
    <table>
      <tbody>
        <tr>
          <th>Email</th>
          <td><%= user.email %></td>
        </tr>
        <tr>
          <th>First Name</th>
          <td><%= user.first_name %></td>
        </tr>
        <tr>
          <th>Last Name</th>
          <td><%= user.last_name %></td>
        </tr>
        <tr>
          <th>Profile Picture</th>
          <td><%= image_tag user.image ? user.image : user.avatar, :class => "avatar" %></td>

        </tr>
      </tbody>
    </table>
    <div>
    </div>
  </div>
    <div class="card-action">

    </div>
  </div>
</div>
  <% end %>
<% else %>
  <p>No users yet</p>
<% end %>
</div>