<% if @events.any? %>
  <% @events.each do |event|%>
    <h3><%= link_to event.title, event_path(event)%></h3>
    <p> <%= event.location %></p>
  <% end %>
<% else %>
 <p> No events yet </p>
<% end %>

<a href="events/new">Add an event</a>