/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require_self
 */

$roboto-font-path: "../assets/roboto/";
$icons-font-path: "../assets/material-design-icons/";
@import 'materialize/sass/materialize.scss';


html{  
  font-family: "Brown", bold, sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87)
}

@font-face {
  font-family: "Brown";
  src: url("../assets/fonts/brown/Brown-Regular.otf") format("truetype");
  font-weight: 400; }