// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 600px) {
  .toc-wrapper {
    visibility: hidden;
    position: absolute;
  }
}

.map {
  height: 250px;
}

div.form-error {
  color: red;
}

.circle {
  border-radius: 50%;
  }
