<div class="container">
  <div class="row">
    <div class="col s12 m4">
      <h5 class="white-text">About Dinnr</h5>
      <p class="white-text text-lighten-6">Dinnr was built within a two weeks final project at Makers Academy. It is built with Ruby/Rails and among others uses the following tools and gems:</p>
      <ul class="white-text text-lighten-4">
        <li>Devise and omniauth for user management</li>
        <li>Paperclip for file attachments</li>
        <li>Geocode and Google Maps API for</li>
        <li>JBuilder for serving <%= link_to "the API", map_api_v1_events_path%></li>
        <li>Materialize Design Framework</li>
      </ul>
    </div>
      <div class="col s12 m4">
        <h5 class="white-text">Built by:</h5>
        <ul class="white-text text-lighten-3">
          <li><a href="https://github.com/katebeavis">Kate Beavis</a></li>
          <li><a href="https://github.com/wardymate">Chris Ward</a></li>
          <li><a href="https://github.com/sphaughton">Sean Haughton</a></li>
          <li><a href="https://github.com/TStrothjohann">Thomas Strothjohann</a></li>
        </ul>
      </div>
      <div class="col s12 m4">
        <a href="http://makersacademy.com">
          <img class="responsive-img" src="https://s3-us-west-2.amazonaws.com/dinnr/pictures/blog_img-01.png" alt="Makers Academy">
        </a>
      </div>
  </div>
</div>
  </div>
  <div class="footer-copyright">
  <div class="container">
  © 2014 Dinnr, London
  <a class="grey-text text-lighten-4 right" href="http://makersacademy.com">Made at Makers Academy</a>
</div>